#mySidenav a {
  position: absolute;
  transition: 0.5s;
  padding: 10px;
  width: 10%;
  text-decoration: none;
  font-size: 20px;
  color: red;
  border-radius: 5px 10px 10px 5px;
}
#mySidenav a:hover {
  left: 0;
}
#home {
  top:20%;
  background-color: silver;
}
#overons {
  top: 30%;
  background-color: skyblue;
}
#contact {
  top: 40%;
  background-color: gold;
}
#score {
  top: 50%;
  background-color: lime;
}
#activiteit {
  top:60%;
  background-color: greenyellow;
}
#resultaten {
  top:70%;
  background-color: lightseagreen;
}
.container-fluid{
  border:0.75rem solid grey;
  border-radius: 2rem 2rem 1.5rem 2rem;
  background-color: mintcream;
  color:blue;
  padding: 1rem;
  min-height: 10vh;
  text-align: center;
  background-image: linear-gradient(rgb(238, 190, 190),lime);
}
.container{
  margin-top: 1rem;
}
body {
  background-color: aquamarine;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;

}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

/* Create two equal columns that floats next to each other */
.column {
float: right;
width: 50%;
padding: 80px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.column1 {
float: left;
width: 50%;
padding: 50px;
position: absolute;
left: 5%;
}

ul {
  top: 50%;
  left: 15%;
  position: absolute;
}
/* Header/Contact */
.header {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background-color: gray;
}


#Voornaam, #Achternaam,  #Vragen[type=text], #Email[type=email],#Telefoon[type=tel] {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#submit[type=submit] {
  background-color: mediumslateblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#submit[type=submit] :hover{
    background-color: yellow;
}
.column2{
  position: absolute;
  left: 13%;
}
.column3{
  position: absolute;
  right: 5%;
}
.card1 {
  background-color:lightgray;
  padding: 30px;
  margin-top: 20px;
}

#scoretekst{
  position: absolute;
  left: 21%;
  top: 68%;
}

.column4{
  position: absolute;
  left: 40%;
  text-align: center;
}
#resultaat {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  position: absolute;
  left: 15%;
  top: 22%;
}

#resultaat td, #resultaat th {
  border: 1px solid #ddd;
  padding: 8px;
}

#resultaat tr:nth-child(even){background-color: #f2f2f2;}

#resultaat tr:hover {background-color: #ddd;}

#resultaat th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.column5{
  position: absolute;
  left: 30%;
  right: 25%;
}
.card2{
  background-color: azure;
  padding: 100px;
  margin-top: 40px;
}
.card3{
background-color: white;
}

#over-ons {
  position: absolute;
  right: 30%;
  left: 31%;
  top: 65%;
  background-color: lightyellow;
  font-size: 1.2rem;
}
#overons-img {
  position: absolute;
  right: 30%;
  top: 18%;
  padding-top: 15px;
  padding-bottom:15px ;
}
